img {
    width: 85%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    display: block;
}

#gezicht {
    display: block;
    width: 85%;
    height: auto;
    margin: auto;
    padding-top: -50px;
}

.jumbotron p{
    color: black;
}